<div class="image-container">
    <img
      *ngIf="!imageError; else placeholder"
      [src]="getImageUrl()"
      alt="Street View"
      (error)="onImageError()"
    />
    <ng-template #placeholder>
      <img src="assets/placeholder.png" alt="Image Not Found"
        onerror="this.onerror=null; this.src='assets/placeholder.png';"
      />
    </ng-template>
  
    <!-- Upvote and Downvote buttons with PrimeNG styling -->
    <button
      pButton
      type="button"
      icon="pi pi-check"
      class="vote-button upvote-button"
      (click)="upvote()"
      aria-label="Upvote"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      class="vote-button downvote-button"
      (click)="downvote()"
      aria-label="Downvote"
    ></button>
  </div>
  