<div class="card flex justify-content-center">
    <p-toggleButton 
      [(ngModel)]="showRoute" 
      onLabel="Hide" 
      offLabel="Show" 
      (onChange)="OnToggleChange()"
    ></p-toggleButton>
  </div>
  
<div class="grid">
    <div class="col-3">
        <p-inputNumber 
            [(ngModel)]="latitudeStart" 
            inputId="minmax" 
            mode="decimal" 
            [minFractionDigits]="4" 
            [maxFractionDigits]="6"
            [min]="-180" 
            [max]="180" 
            (onInput)="addRoute()"/>
    </div>
    <div class="col-3">
        <p-inputNumber 
            [(ngModel)]="longitudeStart" 
            inputId="minmax" 
            mode="decimal" 
            [minFractionDigits]="4" 
            [maxFractionDigits]="6"
            [min]="-180" 
            [max]="180"
            (onInput)="addRoute()"/>
    </div>
    <div class="col-3">
        <p-inputNumber 
            [(ngModel)]="latitudeFinish" 
            inputId="minmax" 
            mode="decimal" 
            [minFractionDigits]="4" 
            [maxFractionDigits]="6"
            [min]="-180" 
            [max]="180" 
            (onInput)="addRoute()"/>
    </div>
    <div class="col-3">
        <p-inputNumber 
            [(ngModel)]="longitudeFinish" 
            inputId="minmax" 
            mode="decimal" 
            [minFractionDigits]="4" 
            [maxFractionDigits]="6"
            [min]="-180" 
            [max]="180"
            (onInput)="addRoute()"/>
    </div>
</div>
<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>